# any dot-files except defined
.*
!.gitignore
!.scrutinizer.yml
!.travis.yml

# netbeans project files
nbproject


# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# phpunit itself is not needed
phpunit.phar

# local phpunit config
/phpunit.xml

